body {
    background: #eee;
}

figure {
    clear: both;
}

article {
    margin: 0.2% 0%;
}

.center {
    margin-top: 2%;
    text-align: center;
}

/* HEADER */
.site-header {
    background: linear-gradient(to bottom right, #14693a, rgb(96, 182, 129));
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-right: 25%;
    color: white;
    text-decoration: none;
}

/* NAVBAR */
.navbar a {
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar a:hover {
    /* background-color: #eee; */
    text-decoration: underline;
}

.navbar .selected {
    color: #ccc;
}

.index-section img {
    width: 50%;
    height: 425px;
    display: block;
    margin: auto;
    padding: 0.5%;
}

.index-section figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-top: 1px solid #9c9;
    border-bottom: 1px solid #9c9;
    padding: 4px;
}

.flex-container a:hover {
    text-decoration: underline;
}

.flex-wrap {
    padding: 1%;
    margin: 2% 0%;
    width: 18%;
    text-align: center;
}

/******************* GEMENSAMT MELLAN SIDOR *************/
#previous-btn {
    font-weight: bold;
    color: black;
    float: left;
    margin-left: 3vh;
}


#next-btn {
    color: black;
    float: right;
    font-weight: bold;
    margin-right: 2vh;
}


.center-btn {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    display: block;
    margin: 5% auto;
}

#form-limit {
    margin: 0.5%;
}

#label-limit {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
}

#form-limit {
    float: left;
}

.gallery-img {
    height: 250px;
    width: 320px;
    margin: 0.5%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}

.material-icons {
    font-size: 35px !important;
    text-decoration: none;
    color: black;
}

.material-icons:hover {
    background-color: lightgrey;
}

.paging {
    max-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paging a:hover {
    background-color: lightgrey;
}

#disabled {
    color: grey;
}

/**************************** MAIN/OBJECT ******************/
.object-header {
    background: linear-gradient(to top, #63be8c, rgb(26, 196, 91));
    height: 6vh;
    margin-bottom: 1%;
}

.object-header a {
    text-decoration: none;
    height: 2vh;
    line-height: 2vh;
    padding: 5px;
}

.object-header a:hover {
    text-decoration: underline;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    line-height: 6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.object-header h2 {
    text-align: center;
    font-size: 30px;
}

.object-img {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 750px;
    margin: 1% auto;
}

.object-img figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.text-container {
    width: 65%;
    margin: auto;
    text-align: left;
}

.text-container h2 {
    text-align: center;
    font-size: 30px;
}

.text-container h3 {
    text-align: center;
}

.text-container img {
    display: block;
    margin: 2% auto;
}

blockquote {
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
}

.author {
    font: italic medium Georgia;
    text-align: center;
}


/****************** ARTICLE ******************/
.flex-container-article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex-container-article a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-top: 1px solid #9c9;
    border-bottom: 1px solid #9c9;
    padding: 4px;
}

.flex-container-article a:hover {
    text-decoration: underline;
}

.flex-wrap-article {
    padding: 1%;
    width: 20%;
    text-align: center;
}

.flex-wrap img {
    border: thin grey solid;
    padding: 2%;
}


/************ GALLERY **********/

.maps-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}

.maps-container img {
    margin-top: 5%;
    width: 250px;
}

.maps-wrap {
    flex-direction: row;
    padding: 1%;
    width: 18%;
    text-align: center;
}

/********************* ABOUT **************/
.about-aside {
    width: 15%;
    margin: 2%;
}

.about-aside h2 {
    text-align: center;
}

.about-aside a {
    color: black;
    font: bold medium Georgia;
}

.about-aside a:hover {
    background-color: grey;
}

.ram {
    border: 1px solid black;
    padding: 2% 8%;
}

.about-me {
    width: 50%;
    float: right;
    margin: 0% 15%;
}

.about-me p {
    font: medium Georgia;
}

.about-me img {
    height: 15%;
    width: 30%;
}


/******************* LOGIN ***********/
.login-container {
    text-align: center;
    width: 50%;
    margin: 4% auto;
}

.form-flex {
    display: flex;
    flex-direction: column;
}

.form-flex input {
    margin: 8% 0%;
    border: thin black solid;
    height: 2em;
}

.form-flex label {
    text-align: left;
    font: bold medium Georgia;
}

form label {
    font: italic medium Georgia;
}

#submit-btn {
    margin: 5% auto;
    height: 2em;
    background-color: black;
    color: white;
    width: 15vh;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: grey;
}

#logout-btn {
    display: block;
    margin: 5% auto;
    height: 2em;
    background-color: black;
    color: white;
    width: 120px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: grey;
}

.form-container {
    width: 35%;
    margin: 2.5% auto;
}

#legend {
    font: bold larger Georgia;
}

.flex-div {
    display: flex;
    width: 50%;
    margin: auto;
}

.database-btn {
    text-decoration: none;
    color: black;
    border: thin solid black;
    padding: 5px 10px;
    font: bold medium Georgia;
    margin: auto;
    text-align: center;
}

.database-btn:hover {
    text-decoration: underline;
}

#center {
    text-align: center;
    margin: 5%;
}


/********************* ADMIN *************/
.edit-container {
    margin: 2% auto;
    text-align: center;
}

.edit-container input {
    width: 31vh;
}

.edit-container p {
    font: bold medium Georgia;
}

form p {
    margin: 4% auto;
}


/*********************************** FOOTER ******************/
.footer {
    margin-top: 3%;
    padding: 1%;
    background: linear-gradient(to bottom right, #14693a, rgb(96, 182, 129));
    text-align: center;
    height: 12vh;
}

.footer p {
    font: medium Georgia;
}

#copyright {
    font-size: 14px;
    font-weight: bold;
}

.flashmessage {
    padding: 1.5em;
    text-align: center;
    font: bold medium Georgia;
}

.site-footer a {
    color: black;
    font-weight: bold;
    margin: 2% 1%;
}

.site-footer a:hover {
    background-color: lightgrey;
}

/****** Responsivitet **********/
@media (max-width: 980px) {
    body {
        width: auto;
    }

    .about-me {
        margin: auto;
    }

    .navigation {
        font-size: 12px;
    }

    .about-aside a {
        font-size: 15px;
    }

    .ram {
        width: 15vh;
    }

    .material-icons {
        font-size: 10px;
    }

    .maps-wrap {
        font-size: 10px;
        display: block;
        margin: auto;
    }

    .maps-wrap img {
        width: 150px;
    }

    .navbar {
        font-size: 12px;
    }

    .header-title {
        font-size: 20px;
    }

    .site-title {
        font-size: 25px;
    }

    img {
        width: 250px;
        height: 150px;
        margin: 2%;
    }

    figcaption {
        width: 50%;
    }

    /** publish får ett fault här annars ***/
    .flex-wrap {
        text-align: center;
        margin: 2%;
        padding: 5%;
        overflow: auto;
        width: 85%;
    }

    .maps-container img {
        width: 75px;
    }

    .footer {
        height: 25vh;
    }
}
