body {
    background: #eee;
}

article {
    margin: 1% 0%;
}

/* HEADER */
.site-header {
    background: linear-gradient(to bottom right, #18864a, rgb(113, 194, 144));
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-right: 25%;
    color: white;
    text-decoration: none;
}

/* NAVBAR */
.navbar a {
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navbar a:hover {
    /* background-color: #eee; */
    text-decoration: underline;
}

.navbar .selected {
    color: #ccc;
}

.index-section img {
    width: 50%;
    height: 425px;
    display: block;
    margin: auto;
    padding: 0.5%;
}

.index-section figcaption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: top;
    justify-content: center;
}

.flex-container a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-top: 1px solid #9c9;
    border-bottom: 1px solid #9c9;
    padding: 4px;
}

.flex-container a:hover {
    text-decoration: underline;
}

.flex-wrap {
    padding: 1%;
    margin: 1% 2%;
    width: 18%;
    text-align: center;
}


/******************* GEMENSAMT MELLAN SIDOR *************/
/* NAVIGATON */

.object-figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
}


.previous-btn {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: left;
    margin-left: 23.5%;
}

.next-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: right;
    display: inline;
    margin-right: 23.5%;
    font-weight: bold;
}



.previous-btn-gallery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: left;
    font-weight: bold;
    margin-left: 3%;
}

.next-btn-gallery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: right;
    font-weight: bold;
    margin-right: 80%;
}

.gallery-img {
    width: 15%;
    margin: 0.5em;
}






/**************************** MAIN/OBJECT ******************/

.object-header {
    background-color: rgb(113, 187, 113);
    height: 8vh;
}

.object-header a {
    text-decoration: none;
    height: 2vh;
    line-height: 2vh;
    padding: 5px;
}

.object-header a:hover {
    text-decoration: underline;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.object-header h2 {
    text-align: center;
    font-size: 30px;
}

.object-article figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 750px;
    margin: 1% auto;
}

.object-article figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.text-container {
    width: 65%;
    margin: auto;
    text-align: left;
}

.text-container h2 {
    text-align: center;
}

blockquote {
    font-style: italic;
}

.author {
    font: italic large Tahoma;
    text-align: center;
}


/****************** ARTICLE ******************/
.flex-container-article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: top;
    justify-content: center;
}

.flex-container-article a {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: black;
    border-top: 1px solid #9c9;
    border-bottom: 1px solid #9c9;
    padding: 4px;
}

.flex-container-article a:hover {
    text-decoration: underline;
}

.flex-wrap-article {
    padding: 1%;
    margin: 1% 2%;
    width: 25%;
    text-align: center;
    border: solid 1px black;
}


/************ GALLERY **********/

.maps-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* align-items: top; */
    /* justify-content: center; */
}

.maps-container img {
    width: 250px;
}




.maps-wrap {
    flex-direction: row;
    padding: 1%;
    margin: 1% 2%;
    width: 18%;
    text-align: center;
}




/********************* ABOUT **************/



.about-aside {
    width: 15%;
    margin: 1%;
}

.about-aside a {
    /* text-decoration: none; */
    color: black;
    font: bold medium Georgia;
}

.about-aside a:hover {
    background-color: grey;
}

.ram {
    border: 1px solid black;
    padding: 2% 8%;
     /* border-bottom: none; */
}





/***********************************' FOOTER ******************/
.footern {
    padding: 1%;
    background: linear-gradient(to bottom right, #18864a, rgb(113, 194, 144));
    text-align: center;
}

#copyright {
    font-size: 14px;
    font-weight: bold;
}








/* html {
    background-color: #fff;
    overflow-y: scroll;
}

body {
    margin: auto;
    padding: 4px;
    width: auto;
    height: auto;
    background: linear-gradient(to bottom right, #ebe3e3, #fff);
    border-radius: 10px;
} */

/* responsive */
/* @media (max-width: 980px) {
    body {
        width: auto;
        background-color: yellow;
    }
}

main {
    min-height: 30em;
}

article {
    margin: 15px;
    overflow: auto;
}

.about-header img {
    float: left;
}

.about-header p {
    padding: 5px;
    padding-left: 320px;
    padding-bottom: 150px;
    line-height: 140%;
}

.katt-header img {
    width: 300px;
    height: 380px;
    float: left;
}

.katt-header p {
    padding: 5px;
    padding-left: 320px;
    padding-bottom: 230px;
    line-height: 140%;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #fbbe46;
    margin: 1%;
}



.me {
    width: 300px;
    height: 380px;
}

*/



/*
.byline {
    padding: 15px;
    border: 1px solid #454545;
    border-radius: 10px;
    width: 60%;
    height: 130px;
    background-color: #ffe;
    margin: auto;
}

.byline img {
    width: 120px;
    height: 130px;
    float: left;
}

.byline p {
    line-height: 125%;
    padding-left: 150px;
    padding-bottom: 0%;
    display: block;
    margin: 0;
    text-align: justify;
    font-size: 15px;
}

hr {
    border-top: 1px dashed black;
    margin-top: 15px;
    opacity: 50%;
}

#textByline {
    padding-top: 1em;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
*/


/* unvisited link */
/*
a:link {
    color: #f00;
}

/* visited link */
/*
a:visited {
    color: darkgreen;
}

a:hover {
    color: blue;
}

a:active {
    color: purple;
}

a.selected {
    color: blueviolet;
}

aside {
    width: 30%;
    float: left;
    margin: 1em;
}

.wrap-main {
    overflow: auto;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.flashmessage {
    padding: 1em;
    border: 3px solid #fbbe46;
    background-color: blanchedalmond;
    color: #154360;
    text-align: center;
}

#message {
    width: 500px;
}

textarea {
    width: 250px;
    height: 100px;
}


table {
    border: 1px solid #666;
}

th {
    background-color: #999;
}

tr:hover {
    background-color: #eee;
}

input[type=search] {
    width: 30em;
}

#search-engine {
    margin-left: 3%;
}

input:read-only {
    background-color: #ebe3e3;
} */
